/* fonts */
h1 {
    font-size: 50px;
    font-family: 'Fredericka the Great', cursive;
    color: rgb(78, 65, 54);
}
h2 {
    font-size: 40px;
    font-family: 'Fredericka the Great', cursive;
    color: rgb(78, 65, 54);
}
h3 {
    font-size: 25px;
    font-family: 'Fredericka the Great', cursive;
    color: rgb(78, 65, 54);
}
p {
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}

/* Page Alignment */
body {
    width: 960px;
    margin: auto;
}
/* Header */
header h1 {
    text-align: center;
}
nav ul {
    margin: 0px 130px;
    border-top: 3px solid  rgb(78, 65, 54);
    border-bottom: 3px solid  rgb(78, 65, 54);
}
nav li {
    display: inline-block;
    margin-right: 90px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 35px;
}
nav li:last-child {
    margin-right: 0px;
}
nav li a {
    color: rgb(78, 65, 54);
    text-decoration: none;
}
nav li a:hover {
    font-size: 40px;
    color: rgb(184, 72, 32);
}
/* Body */
#index-image img {
    width: 600px;
    margin: 0px 140px;
}
